<!doctype html>
<html ng-app="app">
<head>
	<title>Smart Table documentation</title>
	<script src="assets/lib/prism/prism.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="bower_components/angular-smart-table/dist/smart-table.debug.js"></script>
	<script src="assets/js/app.js"></script>
	<link rel="stylesheet" href="assets/css/mainStyle.css"/>
	<link rel="stylesheet" href="assets/lib/prism/prism.css"/>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="container-fluid" ng-controller="mainCtrl">
<header class="navbar navbar-default navbar-fixed-top">
	<nav>
		<ul class="nav navbar-nav" style="width: 100%;">
			<a href="#top" role="button" class="navbar-brand">
				Smart-Table
			</a>

			<li><a href="#section-intro">Introduction</a></li>
			<li><a href="#section-basics">The basics</a></li>
			<li><a href="#section-format">Format/Template</a></li>
			<li class="dropdown">
				<a role="button" class="dropdown-toggle">
					Plugins <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#section-sort">Sort data</a></li>
					<li><a href="#section-filter">Filter data</a></li>
					<li><a href="#section-selection">Select row(s)</a></li>
					<li><a href="#section-pagination">Pagination</a></li>
					<li><a href="#section-pipe">Pipe/Ajax</a></li>
					<li><a href="#section-custom">Custom</a></li>
				</ul>
			</li>
			<li><a href="#examples-section">examples</a></li>

		</ul>
	</nav>
</header>
<div class="header">
	<h1 class="banner">Smart Table</h1>
	</p>
</div>
<div class="text-center"><a href="https://github.com/lorenzofox3/Smart-Table" class="btn btn-default btn-lg"><i
	class="glyphicon glyphicon-download"></i> Get the code</a></div>
<div class="main">
<section id="section-intro" ng-controller="paginationCtrl">

	<p style="margin-top:1em;" class="text-center padding bg-warning">The development of smart-table is sponsored by <a href="http://tropicaldev.com/">TropicalDev</a> </p>

	<h2 class=".h2">Introduction</h2>

	<p class=".text-justify"><strong>Smart table</strong> is an <a href="#">Angularjs</a> module to easily display data in
		a table with a set of built in features such filtering,sorting, etc in a <strong>declarative way</strong>.
		While developing this module I made sure to focus on these particular points:</p>
	<div style="margin:1em 0;" class="bg-success padding">
	<ul>
		<li><strong>lightweight</strong>: smart-table is less than 4kb minified and has <strong>no
			dependencies</strong> other than Angular itself. And you can even reduce its size with a <a href="#">custom
			build</a> if you are not interested in some of the plugins.
		</li>
		<li><strong>robust</strong>: smart-table is widely tested which makes the module really stable</li>
		<li><strong>modular</strong> and <strong>extensible</strong>: The core features can be accessed with the controller
			API which is created by the top level directive. Then
			a set of directives (plugins) allow you to compose you table behavior in a declarative way.
		</li>
		<li><strong>developer friendly</strong>: the design of the module has been thought carefully and it is really
			easy to get into the source code to modify/customise the module to best fit your needs.
	</ul>
	</div>
	<p>Although smart-table is from far the best table module for angular :D, there are other table modules in the
		angular ecosystem you might be interested in. The approach and philosophy are different and maybe more appropriate
		to your way of building web application. Among the most popular:</p>
	<ul>
		<li><a href="http://angular-ui.github.io/ng-grid/">ng-grid</a></li>
		<li><a href="http://esvit.github.io/ng-table/#!/">ng-table</a></li>
	</ul>

	<p>If you want to play around, try this <a href="http://plnkr.co/edit/n2bShO?p=preview">plunker</a></p>

	<div class="text-center">
		<a class="btn btn-primary"
			 href="https://github.com/lorenzofox3/smart-table-website/tree/gh-pages/sections/Introduction"><i
			class="glyphicon glyphicon-pencil"></i> Improve the documentation</a>
	</div>
</section>
<section class="clearfix container-fluid" id="section-basics" ng-controller="basicsCtrl">
	<h2 class="h2">The basics</h2>
	<div class="row">
		<p class="text-justify">
			The first thing is to add the module <code>angular.module('myApp',['smart-table']</code> to you angular
			application.
			Then use the markup you would normally do
			for html tables. On the table element add the <code>st-table</code> attribute to tell smart-table which collection
			holds your <strong>displayed data</strong>, (ie the one you are going to use in the repeater). Now you will be able to compose the table using the plugins.
		</p>
	</div>
			<tabset>
				<tab heading="Markup">
<pre ng-non-bindable><code class="language-markup">&lt;table st-table="rowCollection" class="table table-striped">
	&lt;thead>
	&lt;tr>
		&lt;th>first name&lt;/th>
		&lt;th>last name&lt;/th>
		&lt;th>birth date&lt;/th>
		&lt;th>balance&lt;/th>
		&lt;th>email&lt;/th>
	&lt;/tr>
	&lt;/thead>
	&lt;tbody>
	&lt;tr ng-repeat="row in rowCollection">
		&lt;td>{{row.firstName}}&lt;/td>
		&lt;td>{{row.lastName}}&lt;/td>
		&lt;td>{{row.birthDate}}&lt;/td>
		&lt;td>{{row.balance}}&lt;/td>
		&lt;td>{{row.email}}&lt;/td>
	&lt;/tr>
	&lt;/tbody>
&lt;/table></code></pre>
				</tab>
				<tab heading="javascript">
<pre><code class="language-javascript">app.controller('basicsCtrl', ['$scope', function (scope) {
    scope.rowCollection = [
        {firstName: 'Laurent', lastName: 'Renard', birthDate: new Date('1987-05-21'), balance: 102, email: 'whatever@gmail.com'},
        {firstName: 'Blandine', lastName: 'Faivre', birthDate: new Date('1987-04-25'), balance: -2323.22, email: 'oufblandou@gmail.com'},
        {firstName: 'Francoise', lastName: 'Frere', birthDate: new Date('1955-08-27'), balance: 42343, email: 'raymondef@gmail.com'}
    ];
}]);
</code></pre>
				</tab>
			</tabset>
			<table st-table="rowCollection" class="table table-striped">
				<thead>
				<tr>
					<th>first name</th>
					<th>last name</th>
					<th>birth date</th>
					<th>balance</th>
					<th>email</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="row in rowCollection">
					<td>{{row.firstName}}</td>
					<td>{{row.lastName}}</td>
					<td>{{row.birthDate}}</td>
					<td>{{row.balance}}</td>
					<td>{{row.email}}</td>
				</tr>
				</tbody>
			</table>

	<p class="text-justify">
		Of course in this short example, smart-table does not bring much as we don't use any of the plugins but we are now ready to compose our table.
	</p>

	<p class="text-justify bg-danger padding">smart-table first creates a safe copy of your displayed collection: it creates an other array by copying the <strong>references</strong> of the items. It will then modify the displayed collection (when sorting, filtering etc) based on its safe copy. So if you don't intend to modify the collection outside of the table, it will be all fine.
		However, if you want to modify the collection (add item, remove item), or **if you load your data asynchronously via AJAX-Call**  you will have to tell smart-table to watch the original collection so it can update its safe copy. This is were you use the <strong>stSafeSrc attribute</strong>
	</p>

	<h3 class="h3">stSafeSrc attribute</h3>

	<p class="text-justify">Use it to tell smart-table which collection to watch if you intend to modify its content. Don't pay attention to the sort and filter directives for the moment but use the table and note how the data is correctly synced</p>

	<tabset>
		<tab heading="Markup">
<pre ng-non-bindable><code class="language-markup">	&lt;div ng-controller="safeCtrl">

		&lt;button type="button" ng-click="addRandomItem(row)" class="btn btn-sm btn-success">
			&lt;i class="glyphicon glyphicon-plus">
			&lt;/i> Add random item
		&lt;/button>

		&lt;table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
			&lt;thead>
			&lt;tr>
				&lt;th st-sort="firstName">first name&lt;/th>
				&lt;th st-sort="lastName">last name&lt;/th>
				&lt;th st-sort="birthDate">birth date&lt;/th>
				&lt;th st-sort="balance">balance&lt;/th>
			&lt;/tr>
			&lt;tr>
				&lt;th colspan="5">&lt;input st-search="" class="form-control" placeholder="global search ..." type="text"/>&lt;/th>
			&lt;/tr>
			&lt;/thead>
			&lt;tbody>
			&lt;tr ng-repeat="row in displayedCollection">
				&lt;td>{{row.firstName}}&lt;/td>
				&lt;td>{{row.lastName}}&lt;/td>
				&lt;td>{{row.birthDate}}&lt;/td>
				&lt;td>{{row.balance}}&lt;/td>
				&lt;td>
				&lt;button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
					&lt;i class="glyphicon glyphicon-remove-circle">
					&lt;/i>
				&lt;/button>
				&lt;/td>
			&lt;/tr>
			&lt;/tbody>
		&lt;/table>

	&lt;/div></code></pre>
		</tab>
		<tab heading="javascript">
<pre><code class="language-javascript">app.controller('safeCtrl', ['$scope', function ($scope) {

    var firstnames = ['Laurent', 'Blandine', 'Olivier', 'Max'];
    var lastnames = ['Renard', 'Faivre', 'Frere', 'Eponge'];
    var dates = ['1987-05-21', '1987-04-25', '1955-08-27', '1966-06-06'];
    var id = 1;

    function generateRandomItem(id) {

        var firstname = firstnames[Math.floor(Math.random() * 3)];
        var lastname = lastnames[Math.floor(Math.random() * 3)];
        var birthdate = dates[Math.floor(Math.random() * 3)];
        var balance = Math.floor(Math.random() * 2000);

        return {
            id: id,
            firstName: firstname,
            lastName: lastname,
            birthDate: new Date(birthdate),
            balance: balance
        }
    }

    $scope.rowCollection = [];

    for (id; id < 5; id++) {
        $scope.rowCollection.push(generateRandomItem(id));
    }

    //copy the references (you could clone ie angular.copy but then have to go through a dirty checking for the matches)
    $scope.displayedCollection = [].concat($scope.rowCollection);

    //add to the real data holder
    $scope.addRandomItem = function addRandomItem() {
        $scope.rowCollection.push(generateRandomItem(id));
        id++;
    };

    //remove to the real data holder
    $scope.removeItem = function removeItem(row) {
        var index = $scope.rowCollection.indexOf(row);
        if (index !== -1) {
            $scope.rowCollection.splice(index, 1);
        }
    }
}]);</code></pre>
		</tab>
	</tabset>
	
	<div ng-controller="safeCtrl">

		<button type="button" ng-click="addRandomItem(row)" class="btn btn-sm btn-success">
			<i class="glyphicon glyphicon-plus">
			</i> Add random item
		</button>

		<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
			<thead>
			<tr>
				<th st-sort="firstName">first name</th>
				<th st-sort="lastName">last name</th>
				<th st-sort="birthDate">birth date</th>
				<th st-sort="balance">balance</th>
			</tr>
			<tr>
				<th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="row in displayedCollection">
				<td>{{row.firstName}}</td>
				<td>{{row.lastName}}</td>
				<td>{{row.birthDate}}</td>
				<td>{{row.balance}}</td>
				<td>
				<button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
					<i class="glyphicon glyphicon-remove-circle">
					</i>
				</button>
				</td>
			</tr>
			</tbody>
		</table>

	</div>
	<div class="text-center"><a class="btn btn-primary"
		 href="https://github.com/lorenzofox3/smart-table-website/tree/gh-pages/sections/basics"><i
		class="glyphicon glyphicon-pencil"></i>improve the documentation</a></div>
</section>

<section class="clearfix" id="section-format" ng-controller="formatCtrl">
	<h2 class="h2">Format data & cell templating</h2>

	<p class="text-justify">
		Well, the point is that you keep full control on the markup, so formatting and templating gets as easy as using
		standard markup and angular framework features, fancy directives, etc.
	</p>

	<tabset>
		<tab heading="markup">
			<pre ng-non-bindable><code class="language-markup">&lt;table st-table="rowCollection" class="table table-striped">
	&lt;thead>
	&lt;tr>
		&lt;th>first name&lt;/th>
		&lt;th>last name&lt;/th>
		&lt;th>birth date&lt;/th>
		&lt;th>balance&lt;/th>
		&lt;th>email&lt;/th>
	&lt;/tr>
	&lt;/thead>
	&lt;tbody>
	&lt;tr ng-repeat="row in rowCollection">
		&lt;td>{{row.firstName | uppercase}}&lt;/td>
		&lt;td>{{row.lastName}}&lt;/td>
		&lt;td>{{row.birthDate | date}}&lt;/td>
		&lt;td>{{row.balance | currency}}&lt;/td>
		&lt;td>
			&lt;button class="btn btn-sm" popover-placement="top" popover="{{row.email}}" type="button">
				&lt;i class="glyphicon glyphicon-eye-open">&lt;/i>
			&lt;/button>
			&lt;a ng-href="mailto:{{row.email}}">email&lt;/a>&lt;/td>
		&lt;td>
			&lt;button type="button" ng-click="removeRow(row)" class="btn btn-sm btn-danger">
				&lt;i class="glyphicon glyphicon-remove-circle">
				&lt;/i>
			&lt;/button>
		&lt;/td>
	&lt;/tr>
	&lt;/tbody>
&lt;/table></code></pre>
		</tab>
		<tab heading="JavaScript">
<pre><code class="language-javascript">app.controller('formatCtrl', ['$scope', function (scope) {
    scope.rowCollection = [
        {firstName: 'Laurent', lastName: 'Renard', birthDate: new Date('1987-05-21'), balance: 102, email: 'whatever@gmail.com'},
        {firstName: 'Blandine', lastName: 'Faivre', birthDate: new Date('1987-04-25'), balance: -2323.22, email: 'oufblandou@gmail.com'},
        {firstName: 'Francoise', lastName: 'Frere', birthDate: new Date('1955-08-27'), balance: 42343, email: 'raymondef@gmail.com'}
    ];

    scope.removeRow = function removeRow(row) {
        var index = scope.rowCollection.indexOf(row);
        if (index !== -1) {
            scope.rowCollection.splice(index, 1);
        }
    }
}]);</code></pre>
		</tab>
	</tabset>
	<div>
		<table st-table="rowCollection" class="table table-striped">
			<thead>
			<tr>
				<th>first name</th>
				<th>last name</th>
				<th>birth date</th>
				<th>balance</th>
				<th>email</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="row in rowCollection">
				<td>{{row.firstName | uppercase}}</td>
				<td>{{row.lastName}}</td>
				<td>{{row.birthDate | date}}</td>
				<td>{{row.balance | currency}}</td>
				<td>
					<button class="btn btn-sm" popover-placement="top" popover="{{row.email}}" type="button">
						<i class="glyphicon glyphicon-eye-open"></i>
					</button>
					<a ng-href="mailto:{{row.email}}">email</a></td>
				<td>
					<button type="button" ng-click="removeRow(row)" class="btn btn-sm btn-danger">
						<i class="glyphicon glyphicon-remove-circle">
						</i>
					</button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<a class="btn btn-primary"
			 href="https://github.com/lorenzofox3/smart-table-website/tree/gh-pages/sections/format"><i
			class="glyphicon-pencil glyphicon"></i>improve the documentation</a>
	</div>
</section>
<section class="clearfix" id="section-sort" ng-controller="sortCtrl">
	<h2 class="h2">Sort data</h2>
	<p class="text-justify">
		We can use the <code>st-sort</code> directive to have a built in sort feature. Again, it is all declarative. You add the attribute <code>st-sort</code> to your table headers.
		this will specify the property name you want to sort by or the name of a getter function available on the scope. There are three different sort states: ascending, descending and back to the primary order.
	</p>
	<tabset>
				<tab heading="markup">
<pre ng-non-bindable><code class="language-markup">&lt;table st-table="rowCollection" class="table table-striped">
	&lt;thead>
	&lt;tr>
		&lt;th st-sort="getters.firstName">first name&lt;/th>
		&lt;th st-sort="lastName">last name&lt;/th>
		&lt;th st-sort="birthDate">birth date&lt;/th>
		&lt;th st-sort="balance">balance&lt;/th>
		&lt;th>email&lt;/th>
	&lt;/tr>
	&lt;/thead>
	&lt;tbody>
	&lt;tr ng-repeat="row in rowCollection">
		&lt;td>{{row.firstName | uppercase}}&lt;/td>
		&lt;td>{{row.lastName}}&lt;/td>
		&lt;td>{{row.birthDate | date}}&lt;/td>
		&lt;td>{{row.balance | currency}}&lt;/td>
		&lt;td>&lt;a ng-href="mailto:{{row.email}}">email&lt;/a>&lt;/td>
	&lt;/tr>
	&lt;/tbody>
&lt;/table></code></pre>
		</tab>
		<tab heading="JavaScript">
<pre><code class="language-javascript">app.controller('sortCtrl', ['$scope', '$filter', function (scope, filter) {
    scope.rowCollection = [
        {firstName: 'Laurent', lastName: 'Renard', birthDate: new Date('1987-05-21'), balance: 102, email: 'whatever@gmail.com'},
        {firstName: 'Blandine', lastName: 'Faivre', birthDate: new Date('1987-04-25'), balance: -2323.22, email: 'oufblandou@gmail.com'},
        {firstName: 'Francoise', lastName: 'Frere', birthDate: new Date('1955-08-27'), balance: 42343, email: 'raymondef@gmail.com'}
    ];

    scope.getters={
        firstName: function (value) {
            //this will sort by the length of the first name string
            return value.firstName.length;
        }
    }
}]);</code></pre>
		</tab>
	</tabset>
	<div class="table-container">
		<table st-table="rowCollection" class="table table-striped">
			<thead>
			<tr>
				<th st-sort="getters.firstName">first name</th>
				<th st-sort="lastName">last name</th>
				<th st-sort="birthDate">birth date</th>
				<th st-sort="balance">balance</th>
				<th>email</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="row in rowCollection">
				<td>{{row.firstName | uppercase}}</td>
				<td>{{row.lastName}}</td>
				<td>{{row.birthDate | date}}</td>
				<td>{{row.balance | currency}}</td>
				<td><a ng-href="mailto:{{row.email}}">email</a></td>
			</tr>
			</tbody>
		</table>
	</div>

	<p class="bg-info padding text-justify">
		Note you can ask to sort a column by default by adding the attribute <code>st-sort-default</code>. And if you set the value of this attribute to <code>"reverse"</code> then it will sort this column and reverse the order by default.
	</p>

	<div class="text-center"><a class="btn btn-primary" href="https://github.com/lorenzofox3/smart-table-website/tree/gh-pages/sections/sort"><i
		class="glyphicon glyphicon-pencil"></i>improve the documentation</a></div>
</section>
<section id="section-filter" class="clearfix" ng-controller="filterCtrl">
    <h2 class="h2">Search/filter data</h2>
    <p>
			The <code>stSearch</code> gives you a way to filter rows globally if you don't set any value to the attribute. Or you can also define the predicate to use as value of the directive attribute.
			Use a property name between a single quote, or alternatively you can bind the predicate to a scope property
    </p>
    <tabset><tab heading="markup">
<pre ng-non-bindable><code class="language-markup">&lt;form>
	&lt;label for="predicate">selected predicate:&lt;/label>
	&lt;select class="form-control" id="predicate" ng-model="selectedPredicate" ng-options="predicate for predicate in predicates">&lt;/select>
&lt;/form>
&lt;table st-table="rowCollection" class="table table-striped">
	&lt;thead>
	&lt;tr>
		&lt;th st-sort="firstName">first name&lt;/th>
		&lt;th st-sort="lastName">last name&lt;/th>
		&lt;th st-sort="birthDate">birth date&lt;/th>
		&lt;th st-sort="balance">balance&lt;/th>
		&lt;th>email&lt;/th>
	&lt;/tr>
	&lt;tr>
		&lt;th>
			&lt;input st-search="'firstName'" placeholder="search for firstname" class="input-sm form-control" type="search"/>
		&lt;/th>
		&lt;th colspan="3">
			&lt;input st-search placeholder="global search" class="input-sm form-control" type="search"/>
		&lt;/th>
		&lt;th>
			&lt;input st-search="selectedPredicate" placeholder="bound predicate" class="input-sm form-control" type="search"/>
		&lt;/th>
	&lt;/tr>
	&lt;/thead>
	&lt;tbody>
	&lt;tr ng-repeat="row in rowCollection">
		&lt;td>{{row.firstName | uppercase}}&lt;/td>
		&lt;td>{{row.lastName}}&lt;/td>
		&lt;td>{{row.birthDate | date}}&lt;/td>
		&lt;td>{{row.balance | currency}}&lt;/td>
		&lt;td>&lt;a ng-href="mailto:{{row.email}}">email&lt;/a>&lt;/td>
	&lt;/tr>
	&lt;/tbody>
&lt;/table></code></pre>
        </tab>
			 <tab heading="JavaScript">
<pre><code class="language-javascript">app.controller('filterCtrl', ['$scope', '$filter', function (scope, filter) {
    scope.rowCollection = [
        {firstName: 'Laurent', lastName: 'Renard', birthDate: new Date('1987-05-21'), balance: 102, email: 'whatever@gmail.com'},
        {firstName: 'Blandine', lastName: 'Faivre', birthDate: new Date('1987-04-25'), balance: -2323.22, email: 'oufblandou@gmail.com'},
        {firstName: 'Francoise', lastName: 'Frere', birthDate: new Date('1955-08-27'), balance: 42343, email: 'raymondef@gmail.com'}
    ];

    scope.predicates = ['firstName', 'lastName', 'birthDate', 'balance', 'email'];
    scope.selectedPredicate = scope.predicates[0];
}]);</code></pre>
        </tab>
    </tabset>
	<div class="table-container">
		<form>
			<label for="predicate">selected predicate:</label>
			<select class="form-control" id="predicate" ng-model="selectedPredicate" ng-options="predicate for predicate in predicates"></select>
		</form>
		<table st-table="rowCollection" class="table table-striped">
			<thead>
			<tr>
				<th st-sort="firstName">first name</th>
				<th st-sort="lastName">last name</th>
				<th st-sort="birthDate">birth date</th>
				<th st-sort="balance">balance</th>
				<th>email</th>
			</tr>
			<tr>
				<th>
					<input st-search="'firstName'" placeholder="search for firstname" class="input-sm form-control" type="search"/>
				</th>
				<th colspan="3">
					<input st-search placeholder="global search" class="input-sm form-control" type="search"/>
				</th>
				<th>
					<input st-search="selectedPredicate" placeholder="bound predicate" class="input-sm form-control" type="search"/>
				</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="row in rowCollection">
				<td>{{row.firstName | uppercase}}</td>
				<td>{{row.lastName}}</td>
				<td>{{row.birthDate | date}}</td>
				<td>{{row.balance | currency}}</td>
				<td><a ng-href="mailto:{{row.email}}">email</a></td>
			</tr>
			</tbody>
		</table>
	</div>

	<p class="bg-info padding text-justify">
		Note there is a throttle of 400 ms by default which you can overwrite with the attribute <code>st-delay</code>
	</p>

	<div class="text-center">
		<a class="btn btn-primary" href="https://github.com/lorenzofox3/smart-table-website/tree/gh-pages/sections/filter"><i class="glyphicon glyphicon-pencil"></i> improve the documentation</a>
	</div>
</section>
<section class="clearfix" id="section-selection" ng-controller="selectionCtrl">
    <h2 class="h2">Select data rows</h2>
    <p class="text-justify">
			The <code>stSelectRow</code> will make the rows selectable. Bind it with the rows and then set the selection mode with the <code>stSelectRow</code> plugin. If you don't specify the selection mode, it will be <em>single</em>
			When a row is selected, the property <em>isSelected</em> is set to true on the row object and the class attribute <em>st-selected</em> is set on the tr element.
    </p>

    <tabset>
        <tab heading="markup">
<pre ng-non-bindable=""><code class="language-markup">&lt;table st-table="rowCollection" class="table">
&lt;thead>
&lt;tr>
	&lt;th st-sort="firstName">first name&lt;/th>
	&lt;th st-sort="lastName">last name&lt;/th>
	&lt;th st-sort="birthDate">birth date&lt;/th>
	&lt;th st-sort="balance">balance&lt;/th>
	&lt;th>email&lt;/th>
&lt;/tr>
&lt;/thead>
&lt;tbody>
&lt;tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in rowCollection">
	&lt;td>{{row.firstName | uppercase}}&lt;/td>
	&lt;td>{{row.lastName}}&lt;/td>
	&lt;td>{{row.birthDate | date}}&lt;/td>
	&lt;td>{{row.balance | currency}}&lt;/td>
	&lt;td>&lt;a ng-href="mailto:{{row.email}}">email&lt;/a>&lt;/td>
&lt;/tr>
&lt;/tbody>
&lt;/table></code></pre></tab>
			<tab heading="javascript">
<pre><code class="language-javascript">app.controller('selectionCtrl', ['$scope', '$filter', function (scope, filter) {
    scope.rowCollection = [
        {firstName: 'Laurent', lastName: 'Renard', birthDate: new Date('1987-05-21'), balance: 102, email: 'whatever@gmail.com'},
        {firstName: 'Blandine', lastName: 'Faivre', birthDate: new Date('1987-04-25'), balance: -2323.22, email: 'oufblandou@gmail.com'},
        {firstName: 'Francoise', lastName: 'Frere', birthDate: new Date('1955-08-27'), balance: 42343, email: 'raymondef@gmail.com'}
    ];
}]);</code></pre>
        </tab>
    </tabset>
	<div class="table-container">
		<table st-table="rowCollection" class="table">
			<thead>
			<tr>
				<th st-sort="firstName">first name</th>
				<th st-sort="lastName">last name</th>
				<th st-sort="birthDate">birth date</th>
				<th st-sort="balance">balance</th>
				<th>email</th>
			</tr>
			</thead>
			<tbody>
			<tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in rowCollection">
				<td>{{row.firstName | uppercase}}</td>
				<td>{{row.lastName}}</td>
				<td>{{row.birthDate | date}}</td>
				<td>{{row.balance | currency}}</td>
				<td><a ng-href="mailto:{{row.email}}">email</a></td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<a class="btn btn-primary" href="https://github.com/lorenzofox3/smart-table-website/tree/gh-pages/sections/selection"><i class="glyphicon glyphicon-pencil"></i> improve the documentation</a>
	</div>
</section>
<section class="clearfix" id="section-pagination" ng-controller="paginationCtrl">
	<h2 class="h2">Client side Pagination</h2>

	<p class="text-center">
		This is actually the only plugin which defines its own template. But the template fits good with the popular css
		library <em>bootstrap</em> from Twitter.
		You can also pass as parameters the number of pages you want to display and the number of items by page.
	</p>
	<tabset><tab heading="markup">
<pre ng-non-bindable><code class="language-markup">&lt;table st-table="rowCollection" class="table table-striped">
		&lt;thead>
		&lt;tr>
			&lt;th st-sort="firstName">first name&lt;/th>
			&lt;th st-sort="lastName">last name&lt;/th>
			&lt;th st-sort="birthDate">birth date&lt;/th>
			&lt;th st-sort="balance">balance&lt;/th>
			&lt;th>email&lt;/th>
		&lt;/tr>
		&lt;tr>
			&lt;th>
				&lt;input st-search="'firstName'" placeholder="search for firstname" class="input-sm form-control" type="search"/>
			&lt;/th>
			&lt;th colspan="4">
				&lt;input st-search placeholder="global search" class="input-sm form-control" type="search"/>
			&lt;/th>
		&lt;/tr>
		&lt;/thead>
		&lt;tbody>
		&lt;tr ng-repeat="row in rowCollection">
			&lt;td>{{row.firstName | uppercase}}&lt;/td>
			&lt;td>{{row.lastName}}&lt;/td>
			&lt;td>{{row.birthDate | date}}&lt;/td>
			&lt;td>{{row.balance | currency}}&lt;/td>
			&lt;td>&lt;a ng-href="mailto:{{row.email}}">email&lt;/a>&lt;/td>
		&lt;/tr>
		&lt;/tbody>
		&lt;tfoot>
			&lt;tr>
				&lt;td colspan="5" class="text-center">
					&lt;div st-pagination="" st-items-by-page="15" st-displayed-pages="7">&lt;/div>
				&lt;/td>
			&lt;/tr>
		&lt;/tfoot>
	&lt;/table></code></pre>
	</tab>
		<tab heading="JavaScript">
<pre><code class="language-javascript">app.controller('paginationCtrl', ['$scope', function (scope) {
    var
        nameList = ['Pierre', 'Pol', 'Jacques', 'Robert', 'Elisa'],
        familyName = ['Dupont', 'Germain', 'Delcourt', 'bjip', 'Menez'];

    function createRandomItem() {
        var
            firstName = nameList[Math.floor(Math.random() * 4)],
            lastName = familyName[Math.floor(Math.random() * 4)],
            age = Math.floor(Math.random() * 100),
            email = firstName + lastName + '@whatever.com',
            balance = Math.random() * 3000;

        return{
            firstName: firstName,
            lastName: lastName,
            age: age,
            email: email,
            balance: balance
        };
    }

    scope.rowCollection = [];
    for (var j = 0; j < 200; j++) {
        scope.rowCollection.push(createRandomItem());
    }
}]);</code></pre>
		</tab>
	</tabset>
	<table st-table="rowCollection" class="table table-striped">
		<thead>
		<tr>
			<th st-sort="firstName">first name</th>
			<th st-sort="lastName">last name</th>
			<th st-sort="birthDate">birth date</th>
			<th st-sort="balance">balance</th>
			<th>email</th>
		</tr>
		<tr>
			<th>
				<input st-search="'firstName'" placeholder="search for firstname" class="input-sm form-control" type="search"/>
			</th>
			<th colspan="4">
				<input st-search placeholder="global search" class="input-sm form-control" type="search"/>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="row in rowCollection">
			<td>{{row.firstName | uppercase}}</td>
			<td>{{row.lastName}}</td>
			<td>{{row.birthDate | date}}</td>
			<td>{{row.balance | currency}}</td>
			<td><a ng-href="mailto:{{row.email}}">email</a></td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5" class="text-center">
					<div st-pagination="" st-items-by-page="15" st-displayed-pages="7"></div>
				</td>
			</tr>
		</tfoot>
	</table>

	<div class="text-center">
		<a class="btn btn-primary"
			 href="https://github.com/lorenzofox3/smart-table-website/tree/gh-pages/sections/pagination"><i
			class="glyphicon glyphicon-pencil"></i> improve the documentation</a>
	</div>
</section>
<section id="section-pipe" class="clearfix" ng-controller="pipeCtrl">
	<h2 class="h2">pipe/ajax plugin</h2>
	<p>
		This might be the most powerful plugin. When a directive calls the table controller api (sortBy, search, slice, ...) a variable representing the internal
		table state is updated and a <em>pipe</em> function is called. By default it basically pipes the filter, sort and slice(pagination) operations on the bound array.
		But with this directive you can overwrite the default pipe function which can be handy to call your server. The function take as argument an object which represent
		the table state.
	</p>
	<tabset><tab heading="markup">
<pre ng-non-bindable><code class="language-markup">
&lt;table st-table="rowCollection"  st-pipe="callServer" class="table table-striped">
	&lt;thead>
	&lt;tr>
		&lt;th st-sort="firstName">first name&lt;/th>
		&lt;th st-sort="lastName">last name&lt;/th>
		&lt;th st-sort="birthDate">birth date&lt;/th>
		&lt;th st-sort="balance">balance&lt;/th>
		&lt;th>email&lt;/th>
	&lt;/tr>
	&lt;tr>
		&lt;th>
			&lt;input st-search="firstName" placeholder="search for firstname" class="input-sm form-control" type="search"/>
		&lt;/th>
		&lt;th colspan="4">
			&lt;input st-search placeholder="global search" class="input-sm form-control" type="search"/>
		&lt;/th>
	&lt;/tr>
	&lt;/thead>
	&lt;tbody ng-hide="isLoading">
	&lt;tr ng-repeat="row in rowCollection">
		&lt;td>{{row.firstName | uppercase}}&lt;/td>
		&lt;td>{{row.lastName}}&lt;/td>
		&lt;td>{{row.birthDate | date}}&lt;/td>
		&lt;td>{{row.balance | currency}}&lt;/td>
		&lt;td>&lt;a ng-href="mailto:{{row.email}}">email&lt;/a>&lt;/td>
	&lt;/tr>
	&lt;/tbody>
	&lt;tbody ng-show="isLoading">
			&lt;tr>
				&lt;td colspan="5" class="text-center">&lt;div class="loading-indicator">&lt;/div>&lt;/td>
			&lt;/tr>
	&lt;/tbody>
&lt;/table></code></pre>
	</tab>
		<tab heading="JavaScript">
<pre><code class="language-javascript">app.controller('pipeCtrl', ['$scope', '$timeout', function ($scope, $timeout) {
    var nameList = ['Pierre', 'Pol', 'Jacques', 'Robert', 'Elisa'];
    var familyName = ['Dupont', 'Germain', 'Delcourt', 'bjip', 'Menez'];
    var promise = null;


    $scope.isLoading = false;
    $scope.rowCollection = [];


    function createRandomItem() {
        var
            firstName = nameList[Math.floor(Math.random() * 4)],
            lastName = familyName[Math.floor(Math.random() * 4)],
            age = Math.floor(Math.random() * 100),
            email = firstName + lastName + '@whatever.com',
            balance = Math.random() * 3000;

        return{
            firstName: firstName,
            lastName: lastName,
            age: age,
            email: email,
            balance: balance
        };
    }

    function getAPage() {
        $scope.rowCollection=[];
        for (var j = 0; j < 20; j++) {
            $scope.rowCollection.push(createRandomItem());
        }
    }

    $scope.callServer = function getData(tableState) {

				//here you could create a query string from tableState
				//fake ajax call
				$scope.isLoading = true;

				$timeout(function () {
						getAPage();
						$scope.isLoading = false;
				}, 2000);

    };

    getAPage();

}]);
</code></pre>
		</tab>
	</tabset>
	<div class="table-container">
		<table st-table="rowCollection" st-pipe="callServer" class="table table-striped">
			<thead>
			<tr>
				<th st-sort="firstName">first name</th>
				<th st-sort="lastName">last name</th>
				<th st-sort="birthDate">birth date</th>
				<th st-sort="balance">balance</th>
				<th>email</th>
			</tr>
			<tr>
				<th>
					<input st-search="firstName" placeholder="search for firstname" class="input-sm form-control" type="search"/>
				</th>
				<th colspan="4">
					<input st-search placeholder="global search" class="input-sm form-control" type="search"/>
				</th>
			</tr>
			</thead>
			<tbody ng-hide="isLoading">
			<tr ng-repeat="row in rowCollection">
				<td>{{row.firstName | uppercase}}</td>
				<td>{{row.lastName}}</td>
				<td>{{row.birthDate | date}}</td>
				<td>{{row.balance | currency}}</td>
				<td><a ng-href="mailto:{{row.email}}">email</a></td>
			</tr>
			</tbody>
			<tbody ng-show="isLoading">
					<tr>
						<td colspan="5" class="text-center"><div class="loading-indicator"></div></td>
					</tr>
			</tbody>
		</table>
	</div>
	<p>Wow impressive, we just have plugged our table with a server. Of course in our example the data is random and not consistent with the event which triggered the request, but in reallity the server would sort, filter, slice according to the query</p>
	<div class="text-center">
		<a class="btn btn-primary" href="https://github.com/lorenzofox3/smart-table-website/tree/gh-pages/sections/pipe"><i class="glyphicon glyphicon-pencil"></i> improve the documentation</a>
	</div>
</section>
<section class="clearfix" id="section-custom" ng-controller="customCtrl">
		<h3 class="h3">Create you own plugin</h3>
	<p class="text-justify">
		It is pretty easy to plug your own plugin into smart table. You just have to require the main directive so you will get access to the controller API.
		Let's have an example: I want my plugin to give me a way to select data with a check box.
	</p>

	<tabset>
		<tab heading="Markup">
			<pre ng-non-bindable="">
				<code class="language-markup">
&lt;table st-table="rowCollection" class="table">
	&lt;thead>
	&lt;tr>
		&lt;th>&lt;/th>
		&lt;th st-sort="firstName">first name&lt;/th>
		&lt;th st-sort="lastName">last name&lt;/th>
		&lt;th st-sort="birthDate">birth date&lt;/th>
		&lt;th st-sort="balance">balance&lt;/th>
		&lt;th>email&lt;/th>
	&lt;/tr>
	&lt;/thead>
	&lt;tbody>
	&lt;tr ng-repeat="row in rowCollection">
		&lt;td cs-select="row">&lt;/td>
		&lt;td>{{row.firstName | uppercase}}&lt;/td>
		&lt;td>{{row.lastName}}&lt;/td>
		&lt;td>{{row.birthDate | date}}&lt;/td>
		&lt;td>{{row.balance | currency}}&lt;/td>
		&lt;td>&lt;a ng-href="mailto:{{row.email}}">email&lt;/a>&lt;/td>
	&lt;/tr>
	&lt;/tbody>
&lt;/table>
				</code>
			</pre>
		</tab>
		<tab heading="Javascript">
			<pre ng-non-bindable="">
				<code class="language-javascript">
app.controller('customCtrl', ['$scope', function (scope) {
    scope.rowCollection = [
        {firstName: 'Laurent', lastName: 'Renard', birthDate: new Date('1987-05-21'), balance: 102, email: 'whatever@gmail.com'},
        {firstName: 'Blandine', lastName: 'Faivre', birthDate: new Date('1987-04-25'), balance: -2323.22, email: 'oufblandou@gmail.com'},
        {firstName: 'Francoise', lastName: 'Frere', birthDate: new Date('1955-08-27'), balance: 42343, email: 'raymondef@gmail.com'}
    ];
}]);
app.directive('csSelect', function () {
    return {
        require: '^stTable',
        template: '<input type="checkbox"/>',
        scope: {
            row: '=csSelect'
        },
        link: function (scope, element, attr, ctrl) {

            element.bind('change', function (evt) {
                scope.$apply(function () {
                    ctrl.select(scope.row, 'multiple');
                });
            });

            scope.$watch('row.isSelected', function (newValue, oldValue) {
                if (newValue === true) {
                    element.parent().addClass('st-selected');
                } else {
                    element.parent().removeClass('st-selected');
                }
            });
        }
    };
});

				</code>
			</pre>
		</tab>
	</tabset>

	<table st-table="rowCollection" class="table">
		<thead>
		<tr>
			<th></th>
			<th st-sort="firstName">first name</th>
			<th st-sort="lastName">last name</th>
			<th st-sort="birthDate">birth date</th>
			<th st-sort="balance">balance</th>
			<th>email</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="row in rowCollection">
			<td cs-select="row"></td>
			<td>{{row.firstName | uppercase}}</td>
			<td>{{row.lastName}}</td>
			<td>{{row.birthDate | date}}</td>
			<td>{{row.balance | currency}}</td>
			<td><a ng-href="mailto:{{row.email}}">email</a></td>
		</tr>
		</tbody>
	</table>

	<h3 id="custom-build" class="h3">Custom build</h3>
	<p>
		You can easily custom you build of smart-table. Let's say, since you have created you custom selection directive, you don't want the
		<em>stSelectRow</em> plugin in smart-table, so it will be even lighter than it is now. Go to the <a href="#">gulpFile</a> modify the the
		<code>pluginList</code> variable, then run <code>gulp build</code> and here you are !
	</p>


</section>
<section class="clearfix" id="examples-section">
	<h2 class="h2">More sophisticated examples</h2>

	<p>This section aims to provide example to show how you can compose around smart-table. They remain basic but can
		give ideas and inspiration.</p>

	<h3 class="h3">Draggable headers</h3>

	<p>An example on how to implement draggable headers so the row template can be reordered. It uses <a href="https://github.com/lorenzofox3/lrDragNDrop">lrDragNDrop</a> for the drag and drop logic.</p>

	<div class="text-center">
		<iframe style="border: 1px solid #999;width: 80%; height: 500px"
						src="http://embed.plnkr.co/DRagFo" frameborder="0"
						allowfullscreen="allowfullscreen">
			Loading plunk...
		</iframe>
	</div>

	<h3 class="h3">Pagination on scroll</h3>

	<p>This example shows how to implement pagination on scroll and remove the previous tr nodes as the user scroll down.
		You will need to implement the same kind of logic when scrolling up though. The scroll logic is based on <a href="https://github.com/lorenzofox3/lrInfiniteScroll">lrInfiniteScroll</a></p>

	<div class="text-center">
		<iframe style="border: 1px solid #999;width: 80%; height: 500px"
						src="http://embed.plnkr.co/Qq2yfC" frameborder="0"
						allowfullscreen="allowfullscreen">
			Loading plunk...
		</iframe>
	</div>

	<h3 class="h3">Persist table state in local storage</h3>

	<p>This <a href="http://plnkr.co/edit/ekwiNt?p=preview">example</a> shows how to implement a plugin to persist table state in the local storage so you are able to restore you table when the page is refreshed.</p>

	<div class="text-center">
		<a class="btn btn-primary"
			 href="https://github.com/lorenzofox3/smart-table-website/tree/gh-pages/sections/examples"><i
			class="glyphicon glyphicon-pencil"></i> improve the documentation</a>
	</div>
</section>
</div>
<footer class="padding" id="main-footer" class="center-block">
	<p class=" padding text-center">
		&#169; RENARD Laurent, smart-table is released under MIT Licence
	</p>
</footer>
</body>
</html>