<section class="clearfix" id="section-pagination" ng-controller="paginationCtrl">
	<h2 class="h2">Client side Pagination</h2>

	<p class="text-center">
		This is actually the only plugin which defines its own template. But the template fits good with the popular css
		library <em>bootstrap</em> from Twitter.
		You can also pass as parameters the number of pages you want to display and the number of items by page.
	</p>
	<tabset><tab heading="markup">
<pre ng-non-bindable><code class="language-markup">&lt;table st-table="rowCollection" class="table table-striped">
		&lt;thead>
		&lt;tr>
			&lt;th st-sort="firstName">first name&lt;/th>
			&lt;th st-sort="lastName">last name&lt;/th>
			&lt;th st-sort="birthDate">birth date&lt;/th>
			&lt;th st-sort="balance">balance&lt;/th>
			&lt;th>email&lt;/th>
		&lt;/tr>
		&lt;tr>
			&lt;th>
				&lt;input st-search="'firstName'" placeholder="search for firstname" class="input-sm form-control" type="search"/>
			&lt;/th>
			&lt;th colspan="4">
				&lt;input st-search placeholder="global search" class="input-sm form-control" type="search"/>
			&lt;/th>
		&lt;/tr>
		&lt;/thead>
		&lt;tbody>
		&lt;tr ng-repeat="row in rowCollection">
			&lt;td>{{row.firstName | uppercase}}&lt;/td>
			&lt;td>{{row.lastName}}&lt;/td>
			&lt;td>{{row.birthDate | date}}&lt;/td>
			&lt;td>{{row.balance | currency}}&lt;/td>
			&lt;td>&lt;a ng-href="mailto:{{row.email}}">email&lt;/a>&lt;/td>
		&lt;/tr>
		&lt;/tbody>
		&lt;tfoot>
			&lt;tr>
				&lt;td colspan="5" class="text-center">
					&lt;div st-pagination="" st-items-by-page="15" st-displayed-pages="7">&lt;/div>
				&lt;/td>
			&lt;/tr>
		&lt;/tfoot>
	&lt;/table></code></pre>
	</tab>
		<tab heading="JavaScript">
<pre><code class="language-javascript">app.controller('paginationCtrl', ['$scope', function (scope) {
    var
        nameList = ['Pierre', 'Pol', 'Jacques', 'Robert', 'Elisa'],
        familyName = ['Dupont', 'Germain', 'Delcourt', 'bjip', 'Menez'];

    function createRandomItem() {
        var
            firstName = nameList[Math.floor(Math.random() * 4)],
            lastName = familyName[Math.floor(Math.random() * 4)],
            age = Math.floor(Math.random() * 100),
            email = firstName + lastName + '@whatever.com',
            balance = Math.random() * 3000;

        return{
            firstName: firstName,
            lastName: lastName,
            age: age,
            email: email,
            balance: balance
        };
    }

    scope.rowCollection = [];
    for (var j = 0; j < 200; j++) {
        scope.rowCollection.push(createRandomItem());
    }
}]);</code></pre>
		</tab>
	</tabset>
	<table st-table="rowCollection" class="table table-striped">
		<thead>
		<tr>
			<th st-sort="firstName">first name</th>
			<th st-sort="lastName">last name</th>
			<th st-sort="birthDate">birth date</th>
			<th st-sort="balance">balance</th>
			<th>email</th>
		</tr>
		<tr>
			<th>
				<input st-search="'firstName'" placeholder="search for firstname" class="input-sm form-control" type="search"/>
			</th>
			<th colspan="4">
				<input st-search placeholder="global search" class="input-sm form-control" type="search"/>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="row in rowCollection">
			<td>{{row.firstName | uppercase}}</td>
			<td>{{row.lastName}}</td>
			<td>{{row.birthDate | date}}</td>
			<td>{{row.balance | currency}}</td>
			<td><a ng-href="mailto:{{row.email}}">email</a></td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5" class="text-center">
					<div st-pagination="" st-items-by-page="15" st-displayed-pages="7"></div>
				</td>
			</tr>
		</tfoot>
	</table>

	<div class="text-center">
		<a class="btn btn-primary"
			 href="https://github.com/lorenzofox3/smart-table-website/tree/gh-pages/sections/pagination"><i
			class="glyphicon glyphicon-pencil"></i> improve the documentation</a>
	</div>
</section>