<section class="clearfix container-fluid" id="section-basics" ng-controller="basicsCtrl">
	<h2 class="h2">The basics</h2>
	<div class="row">
		<p class="text-justify">
			The first thing is to add the module <code>angular.module('myApp',['smart-table']</code> to you angular
			application.
			Then use the markup you would normally do
			for html tables. On the table element add the <code>st-table</code> attribute to tell smart-table which collection
			holds you data. Now you will be able to compose the table using the plugins.
		</p>
	</div>

			<tabset>
				<tab heading="Markup">
<pre ng-non-bindable><code class="language-markup">&lt;table st-table="rowCollection" class="table table-striped">
	&lt;thead>
	&lt;tr>
		&lt;th>first name&lt;/th>
		&lt;th>last name&lt;/th>
		&lt;th>birth date&lt;/th>
		&lt;th>balance&lt;/th>
		&lt;th>email&lt;/th>
	&lt;/tr>
	&lt;/thead>
	&lt;tbody>
	&lt;tr ng-repeat="row in rowCollection">
		&lt;td>{{row.firstName}}&lt;/td>
		&lt;td>{{row.lastName}}&lt;/td>
		&lt;td>{{row.birthDate}}&lt;/td>
		&lt;td>{{row.balance}}&lt;/td>
		&lt;td>{{row.email}}&lt;/td>
	&lt;/tr>
	&lt;/tbody>
&lt;/table></code></pre>
				</tab>
				<tab heading="javascript">
<pre><code class="language-javascript">app.controller('basicsCtrl', ['$scope', function (scope) {
    scope.rowCollection = [
        {firstName: 'Laurent', lastName: 'Renard', birthDate: new Date('1987-05-21'), balance: 102, email: 'whatever@gmail.com'},
        {firstName: 'Blandine', lastName: 'Faivre', birthDate: new Date('1987-04-25'), balance: -2323.22, email: 'oufblandou@gmail.com'},
        {firstName: 'Francoise', lastName: 'Frere', birthDate: new Date('1955-08-27'), balance: 42343, email: 'raymondef@gmail.com'}
    ];
}]);
</code></pre>
				</tab>
			</tabset>
			<table st-table="rowCollection" class="table table-striped">
				<thead>
				<tr>
					<th>first name</th>
					<th>last name</th>
					<th>birth date</th>
					<th>balance</th>
					<th>email</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="row in rowCollection">
					<td>{{row.firstName}}</td>
					<td>{{row.lastName}}</td>
					<td>{{row.birthDate}}</td>
					<td>{{row.balance}}</td>
					<td>{{row.email}}</td>
				</tr>
				</tbody>
			</table>

	<p class="text-justify">
		Of course in this short example, smart-table does not bring much as we don't use any of the plugins but we are now ready to compose our table.
	</p>

	<div class="text-center"><a class="btn btn-primary"
		 href="https://github.com/lorenzofox3/smart-table-website/tree/gh-pages/sections/basics"><i
		class="glyphicon glyphicon-pencil"></i>improve the documentation</a></div>
</section>
