<section id="section-filter" class="clearfix" ng-controller="filterCtrl">
    <h2 class="h2">Search/filter data</h2>
    <p>
			The <code>stSearch</code> gives you a way to filter rows globally if you don't set any value to the attribute. Or you can also define the predicate to use as value of the directive attribute.
			Use a property name, or alternatively you can interpolate the predicate with a scope property
    </p>
    <tabset><tab heading="markup">
<pre ng-non-bindable><code class="language-markup">&lt;form>
	&lt;label for="predicate">selected predicate:&lt;/label>
	&lt;select class="form-control" id="predicate" ng-model="selectedPredicate" ng-options="predicate for predicate in predicates">&lt;/select>
&lt;/form>
&lt;table st-table="rowCollection" class="table table-striped">
	&lt;thead>
	&lt;tr>
		&lt;th st-sort="firstName">first name&lt;/th>
		&lt;th st-sort="lastName">last name&lt;/th>
		&lt;th st-sort="birthDate">birth date&lt;/th>
		&lt;th st-sort="balance">balance&lt;/th>
		&lt;th>email&lt;/th>
	&lt;/tr>
	&lt;tr>
		&lt;th>
			&lt;input st-search="firstName" placeholder="search for firstname" class="input-sm form-control" type="search"/>
		&lt;/th>
		&lt;th colspan="3">
			&lt;input st-search placeholder="global search" class="input-sm form-control" type="search"/>
		&lt;/th>
		&lt;th>
			&lt;input st-search="{{selectedPredicate}}" placeholder="bound predicate" class="input-sm form-control" type="search"/>
		&lt;/th>
	&lt;/tr>
	&lt;/thead>
	&lt;tbody>
	&lt;tr ng-repeat="row in rowCollection">
		&lt;td>{{row.firstName | uppercase}}&lt;/td>
		&lt;td>{{row.lastName}}&lt;/td>
		&lt;td>{{row.birthDate | date}}&lt;/td>
		&lt;td>{{row.balance | currency}}&lt;/td>
		&lt;td>&lt;a ng-href="mailto:{{row.email}}">email&lt;/a>&lt;/td>
	&lt;/tr>
	&lt;/tbody>
&lt;/table></code></pre>
        </tab>
			 <tab heading="JavaScript">
<pre><code class="language-javascript">app.controller('filterCtrl', ['$scope', '$filter', function (scope, filter) {
    scope.rowCollection = [
        {firstName: 'Laurent', lastName: 'Renard', birthDate: new Date('1987-05-21'), balance: 102, email: 'whatever@gmail.com'},
        {firstName: 'Blandine', lastName: 'Faivre', birthDate: new Date('1987-04-25'), balance: -2323.22, email: 'oufblandou@gmail.com'},
        {firstName: 'Francoise', lastName: 'Frere', birthDate: new Date('1955-08-27'), balance: 42343, email: 'raymondef@gmail.com'}
    ];

    scope.predicates = ['firstName', 'lastName', 'birthDate', 'balance', 'email'];
    scope.selectedPredicate = scope.predicates[0];
}]);</code></pre>
        </tab>
    </tabset>
	<div class="table-container">
		<form>
			<label for="predicate">selected predicate:</label>
			<select class="form-control" id="predicate" ng-model="selectedPredicate" ng-options="predicate for predicate in predicates"></select>
		</form>
		<table st-table="rowCollection" class="table table-striped">
			<thead>
			<tr>
				<th st-sort="firstName">first name</th>
				<th st-sort="lastName">last name</th>
				<th st-sort="birthDate">birth date</th>
				<th st-sort="balance">balance</th>
				<th>email</th>
			</tr>
			<tr>
				<th>
					<input st-search="firstName" placeholder="search for firstname" class="input-sm form-control" type="search"/>
				</th>
				<th colspan="3">
					<input st-search placeholder="global search" class="input-sm form-control" type="search"/>
				</th>
				<th>
					<input st-search="{{selectedPredicate}}" placeholder="bound predicate" class="input-sm form-control" type="search"/>
				</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="row in rowCollection">
				<td>{{row.firstName | uppercase}}</td>
				<td>{{row.lastName}}</td>
				<td>{{row.birthDate | date}}</td>
				<td>{{row.balance | currency}}</td>
				<td><a ng-href="mailto:{{row.email}}">email</a></td>
			</tr>
			</tbody>
		</table>
	</div>

	<p class="bg-info padding text-justify">
		Note there is a throttle of 400 ms by default which you can overwrite with the attribute <code>st-delay</code>
	</p>

	<p class="bg-info padding text-justify">
		By default the search will be triggered on the <code>input</code> event but you can change it using the attribute <code>st-input-event</code>
		<pre ng-non-bindable><code class="language-markup">&lt;select st-input-event="change" st-search="myProp">&lt;/select></code></pre>
	</p>

	<div class="text-center">
		<a class="btn btn-primary" href="https://github.com/lorenzofox3/smart-table-website/tree/gh-pages/sections/filter"><i class="glyphicon glyphicon-pencil"></i> improve the documentation</a>
	</div>

    <h3 id="filter-strict-mode">Strict mode filtering</h3>

    <p>
        The <code>stSetFilter</code> replaces the filter used when searching through Smart Table.
        When the default behavior for <code>stSearch</code> does not meet your demands, like in a select where one entry is a substring of another, use a custom filter to achieve your goals.
    </p>

    <tabset><tab heading="markup">
<pre ng-non-bindable><code class="language-markup">&lt;table st-safe-src="rowCollection" st-table="displayCollection" st-set-filter="myStrictFilter" class="table table-striped">
    &lt;thead>
        &lt;tr>
            &lt;th st-sort="firstName">first name&lt;/th>
            &lt;th st-sort="lastName">last name&lt;/th>
            &lt;th st-sort="strictSearchValue">strict search&lt;/th>
            &lt;th st-sort="strictSelectValue">strict select&lt;/th>
        &lt;/tr>
        &lt;tr>
            &lt;th>
                &lt;input st-search="firstName" placeholder="search for firstname" class="input-sm form-control" type="search"/>
            &lt;/th>
            &lt;th>
                &lt;input st-search="lastName" placeholder="search for lastname" class="input-sm form-control" type="search"/>
            &lt;/th>
            &lt;th>
                &lt;input st-search="strictSearchValue" placeholder="search for equal match" class="input-sm form-control" type="search"/>
            &lt;/th>
            &lt;th>
                &lt;select st-search="strictSelectValue">
                    &lt;option value="">All&lt;/option>
                    &lt;option ng-repeat="row in rowCollection | unique:'strictSelectValue'" value="{{row.strictSelectValue}}">{{row.strictSelectValue}}&lt;/option>
                &lt;/select>
            &lt;/th>
        &lt;/tr>
    &lt;/thead>
    &lt;tbody>
        &lt;tr ng-repeat="row in displayCollection">
            &lt;td>{{row.firstName | uppercase}}&lt;/td>
            &lt;td>{{row.lastName}}&lt;/td>
            &lt;td>{{row.strictSearchValue}}&lt;/td>
            &lt;td>{{row.strictSelectValue}}&lt;/td>
        &lt;/tr>
    &lt;/tbody>
&lt;/table></code></pre>
    </tab>
        <tab heading="JavaScript">
<pre><code class="language-javascript">app.controller('filterCtrl', ['$scope', '$filter', function (scope, filter) {
    scope.rowCollection = [
        {firstName: 'Laurent', lastName: 'Renard', birthDate: new Date('1987-05-21'), balance: 102, email: 'whatever@gmail.com', strictSearchValue: "abc", strictSelectValue: "ab"},
        {firstName: 'Blandine', lastName: 'Faivre', birthDate: new Date('1987-04-25'), balance: -2323.22, email: 'oufblandou@gmail.com', strictSearchValue: "ab", strictSelectValue: "abc"},
        {firstName: 'Francoise', lastName: 'Frere', birthDate: new Date('1955-08-27'), balance: 42343, email: 'raymondef@gmail.com', strictSearchValue: "abc", strictSelectValue: "abc"}
    ];

    scope.displayCollection = [].concat(scope.rowCollection);

    scope.predicates = ['firstName', 'lastName', 'birthDate', 'balance', 'email'];
    scope.selectedPredicate = scope.predicates[0];
]);

app.filter('myStrictFilter', function($filter){
    return function(input, predicate){
        return $filter('filter')(input, predicate, true);
    }
});

app.filter('unique', function() {
    return function (arr, field) {
        var o = {}, i, l = arr.length, r = [];
        for(i=0; i&lt;l;i+=1) {
            o[arr[i][field]] = arr[i];
        }
        for(i in o) {
            r.push(o[i]);
        }
        return r;
    };
  })</code></pre>
        </tab>
    </tabset>

    <div class="table-container">
        <table st-safe-src="rowCollection" st-table="displayCollection" st-set-filter="myStrictFilter" class="table table-striped">
            <thead>
            <tr>
                <th st-sort="firstName">first name</th>
                <th st-sort="lastName">last name</th>
                <th st-sort="strictSearchValue">strict search</th>
                <th st-sort="strictSelectValue">strict select</th>
            </tr>
            <tr>
                <th>
                    <input st-search="firstName" placeholder="search for firstname" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input st-search="lastName" placeholder="search for lastname" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input st-search="strictSearchValue" placeholder="search for equal match" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <select st-search="strictSelectValue">
                        <option value="">All</option>
                        <option ng-repeat="row in rowCollection | unique:'strictSelectValue'" value="{{row.strictSelectValue}}">{{row.strictSelectValue}}</option>
                    </select>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in displayCollection">
                <td>{{row.firstName | uppercase}}</td>
                <td>{{row.lastName}}</td>
                <td>{{row.strictSearchValue}}</td>
                <td>{{row.strictSelectValue}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <p class="bg-info padding text-justify">
        Note that <code>st-safe-src</code> is required for the select to properly display all distinct elements in the collection.
        Should this be omitted, the select would only contain values from elements visible in table, also affected by paging.
    </p>

    <h3 class="h3" id="filter-custom-plugin">Custom search plugins</h3>

    <p>
        It is easy to write advanced plugins to smart table.
        The following example shows how you can develop a dropdown to filter on a specific value or a multiple selection plugin which lets you filter in a excel-like style.
    </p>

    <div class="text-center">
        <iframe style="border: 1px solid #999;width: 80%; height: 500px"
                src="http://embed.plnkr.co/SOcUk1" frameborder="0"
                allowfullscreen="allowfullscreen">
            Loading plunk...
        </iframe>
    </div>

    <h3>Date and numeric filtering</h3>

    <p>
        In this example, date range or number range may filter data.
    </p>

    <div class="text-center">
        <iframe style="border: 1px solid #999;width: 80%; height: 500px"
                src="http://embed.plnkr.co/Idbc1JNHKylHuX6mNwZ6" frameborder="0"
                allowfullscreen="allowfullscreen">
            Loading plunk...
        </iframe>
    </div>
</section>
