<section class="clearfix" id="section-sort" ng-controller="sortCtrl">
	<h2 class="h2">Sort data</h2>
	<p class="text-justify">
		We can use the <code>st-sort</code> directive to have a built in sort feature. Again, it is all declarative. You add the attribute <code>st-sort</code> to your table headers.
		this will specify the property name you want to sort by or the name of a getter function available on the scope. There are three different sort states: ascending, descending and back to the primary order.
	</p>
	<tabset>
				<tab heading="markup">
<pre ng-non-bindable><code class="language-markup">&lt;table st-table="rowCollection" class="table table-striped">
	&lt;thead>
	&lt;tr>
		&lt;th st-sort="getters.firstName">first name&lt;/th>
		&lt;th st-sort="lastName">last name&lt;/th>
		&lt;th st-sort="birthDate">birth date&lt;/th>
		&lt;th st-sort="balance" st-skip-natural="true" >balance&lt;/th>
		&lt;th>email&lt;/th>
	&lt;/tr>
	&lt;/thead>
	&lt;tbody>
	&lt;tr ng-repeat="row in rowCollection">
		&lt;td>{{row.firstName | uppercase}}&lt;/td>
		&lt;td>{{row.lastName}}&lt;/td>
		&lt;td>{{row.birthDate | date}}&lt;/td>
		&lt;td>{{row.balance | currency}}&lt;/td>
		&lt;td>&lt;a ng-href="mailto:{{row.email}}">email&lt;/a>&lt;/td>
	&lt;/tr>
	&lt;/tbody>
&lt;/table></code></pre>
		</tab>
		<tab heading="JavaScript">
<pre><code class="language-javascript">app.controller('sortCtrl', ['$scope', '$filter', function (scope, filter) {
    scope.rowCollection = [
        {firstName: 'Laurent', lastName: 'Renard', birthDate: new Date('1987-05-21'), balance: 102, email: 'whatever@gmail.com'},
        {firstName: 'Blandine', lastName: 'Faivre', birthDate: new Date('1987-04-25'), balance: -2323.22, email: 'oufblandou@gmail.com'},
        {firstName: 'Francoise', lastName: 'Frere', birthDate: new Date('1955-08-27'), balance: 42343, email: 'raymondef@gmail.com'}
    ];

    scope.getters={
        firstName: function (value) {
            //this will sort by the length of the first name string
            return value.firstName.length;
        }
    }
}]);</code></pre>
		</tab>
	</tabset>
	<div class="table-container">
		<table st-table="rowCollection" class="table table-striped">
			<thead>
			<tr>
				<th st-sort="getters.firstName">first name</th>
				<th st-sort="lastName">last name</th>
				<th st-sort="birthDate">birth date</th>
				<th st-sort="balance" st-skip-natural="true">balance</th>
				<th>email</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="row in rowCollection">
				<td>{{row.firstName | uppercase}}</td>
				<td>{{row.lastName}}</td>
				<td>{{row.birthDate | date}}</td>
				<td>{{row.balance | currency}}</td>
				<td><a ng-href="mailto:{{row.email}}">email</a></td>
			</tr>
			</tbody>
		</table>
	</div>

	<p class="bg-info padding text-justify">
		Note you can ask to sort a column by default by adding the attribute <code>st-sort-default="true"</code>. And if you set the value of this attribute to <code>"reverse"</code> then it will sort this column and reverse the order by default.
	</p>

	<p class="bg-info padding text-justify">
		You can skip the "natural order" state by adding <code>st-skip-natural="true"</code> as attribute of your th element.
	</p>

	<p class="padding text-justify">
		smart-table add css classes when the sort state changes <code>st-sort-ascent</code> and <code>st-sort-descent</code>. If you use a third party css framework with specific class names you can overwrite the default ones by passing the attributes
		<code>st-class-ascent="myClassName"</code> and <code>st-class-descent="className"</code>.
		The css used for this website is
		<pre><code class="language-css">
  .st-sort-ascent:before {
    content: '\25B2';
  }

  .st-sort-descent:before {
    content: '\25BC';
  }
</code></pre>
	</p>

	<div class="text-center"><a class="btn btn-primary" href="https://github.com/lorenzofox3/smart-table-website/tree/gh-pages/sections/sort"><i
		class="glyphicon glyphicon-pencil"></i>improve the documentation</a></div>
</section>
